.button {
  background: #6932d4;
  border-radius: 100px;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button img {
  filter: invert(100%);
  height: 20px;
  animation: spin 2s linear infinite;
}

.button span {
  font-size: 12px;
  line-height: 20px;
  margin: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}